src/main/java/cn/lanhuhebi/elderly_group/webservice/smartdatatransmission.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.controller.hyit.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.controller.hyit.com" xmlns:intf="http://wsdl.controller.hyit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.controller.hyit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendsmartequcmd">
    <complexType>
     <sequence>
      <element name="OrgId" type="xsd:string"/>
      <element name="sequence" type="xsd:base64Binary"/>
      <element name="md5" type="xsd:base64Binary"/>
      <element name="smartEquNo" type="xsd:string"/>
      <element name="Messsage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendsmartequcmdResponse">
    <complexType>
     <sequence>
      <element name="sendsmartequcmdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsmartequrtdata">
    <complexType>
     <sequence>
      <element name="OrgId" type="xsd:string"/>
      <element name="sequence" type="xsd:base64Binary"/>
      <element name="md5" type="xsd:base64Binary"/>
      <element name="smartEquNo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsmartequrtdataResponse">
    <complexType>
     <sequence>
      <element name="getsmartequrtdataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsmartequlistdata">
    <complexType>
     <sequence>
      <element name="OrgId" type="xsd:string"/>
      <element name="sequence" type="xsd:base64Binary"/>
      <element name="md5" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsmartequlistdataResponse">
    <complexType>
     <sequence>
      <element name="getsmartequlistdataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getsmartequrtdataResponse">

      <wsdl:part element="impl:getsmartequrtdataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendsmartequcmdResponse">

      <wsdl:part element="impl:sendsmartequcmdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendsmartequcmdRequest">

      <wsdl:part element="impl:sendsmartequcmd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getsmartequlistdataRequest">

      <wsdl:part element="impl:getsmartequlistdata" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getsmartequlistdataResponse">

      <wsdl:part element="impl:getsmartequlistdataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getsmartequrtdataRequest">

      <wsdl:part element="impl:getsmartequrtdata" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="smartdatatransmission">

      <wsdl:operation name="sendsmartequcmd">

         <wsdl:input message="impl:sendsmartequcmdRequest" name="sendsmartequcmdRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendsmartequcmdResponse" name="sendsmartequcmdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getsmartequrtdata">

         <wsdl:input message="impl:getsmartequrtdataRequest" name="getsmartequrtdataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getsmartequrtdataResponse" name="getsmartequrtdataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getsmartequlistdata">

         <wsdl:input message="impl:getsmartequlistdataRequest" name="getsmartequlistdataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getsmartequlistdataResponse" name="getsmartequlistdataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="smartdatatransmissionSoapBinding" type="impl:smartdatatransmission">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendsmartequcmd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendsmartequcmdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendsmartequcmdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getsmartequrtdata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getsmartequrtdataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getsmartequrtdataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getsmartequlistdata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getsmartequlistdataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getsmartequlistdataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="smartdatatransmissionService">

      <wsdl:port binding="impl:smartdatatransmissionSoapBinding" name="smartdatatransmission">

         <wsdlsoap:address location="http://125.72.17.218:7050/hy360dm/services/smartdatatransmission"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
